@using CarCatalogue.Models.Response;

@model IEnumerable<CarResponseModel>

<link rel="stylesheet" href="~/custom/homePage/car-card.css" />

<div class="container-fluid">
    <h1 style="text-align: center; margin-top:3rem;">Featured collections</h1>
    <div class="row">
        @foreach (var item in Model)
        {
            <div style="margin-top:3rem;" class="col-sm-12 col-md-6 col-lg-4">
                <div class="container-card">
                    <div class="wrapper-card">
                        <img src="@item.ImageUrl" class="banner-image-card"/>
                        <h1> @item.Make </h1>
                    </div>
                    <div class="button-wrapper-card">
                        <a asp-controller="Make" asp-action="Index" asp-route-make="@item.Make" class="btn outline">MODELS</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
